* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    padding: 11vh 10vw 11vh 10vw;
}

.section-header {
    font-family: 'Handlee', cursive;
    font-size: 2.5em;
    margin-top: 0;
}

.button {
    width: 12vw;
    height: 8vh;
    border: 0;
    background-color: rgb(242, 112, 82);
    cursor: pointer;
}

.button h2 {
    color: rgb(255,255,204);
    font-size: 1.5em;
    margin: 0;
}
/* Navbar start */
nav {
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.7);
    height: 60px;
    padding: 0 10vw 0 10vw;
    z-index: 1;
}

nav .nav-brand-icon-container {
    width: 5%;
    height: 100%;
    display: inline-block;
    opacity: 0.8;
}

nav .nav-brand-icon-container img {
    max-height: 50px;
    margin-top: 5px;
}

nav .nav-menu {
    position: absolute;
    display: inline-block;
    height: 100%;
    top: 25%;
}

nav .nav-menu ul {
    list-style-type: none;
    margin: auto;
}

nav .nav-menu ul li {
    display: inline-block;
    margin-right: 1.2em;
}

nav .nav-menu ul li a {
    text-decoration: none;
    font-size: 1.7em;
    color: rgb(255,255,204);
    font-family: 'Handlee', cursive;
}

nav .nav-menu ul li a:hover {
    font-weight: bold;
}

nav .nav-social-icons {
    display: inline-block;
    float: right;
}

nav .nav-social-icons button {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border-radius: 100%;
    border: 0;
    margin-left: 2em;
}

button.facebook {
    background-color: #3b5998;
    opacity: 0.6;
}

button.instagram {
    background-color: #e95950;
    opacity: 0.6;
}

button.facebook:hover {
    opacity: 1;
}

button.instagram:hover {
    opacity: 1;
}

nav .nav-social-icons button i {
    color: white;
}
/* Navbar stop */

/* Header start */
header {
    width: 100%;
    height: 75vh;
    background-image: url('../img/bg/h1copy.jpg');
    background-size: cover;
    padding: 25vh 0 0 10vw;
}

header .header-content h1, header .header-content h2 {
    margin: 0;
    color: rgb(255,255,204);
    text-shadow: 2px 2px 5px #000;    
    font-family: 'Handlee', cursive;
}

header .header-content h1 {
    font-size: 7.5em;
}

header .header-content h2 {
    font-size: 4em;
}
/* Header stop */

/* About start */
#about {
    background-color: rgb(255,255,204);
}

.about-content {
    display: inline-block;
    width: 40%;
}

.about-img {
    display: inline-block;
    float: right;
    width: 50%;
}

.about-img img {
    max-width: 100%;
    max-height: 300px;
    -webkit-clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
}
/* About stop */

/* Team start */
#team {}

.team-content {
    float: right;
    width: 50%;
}

.team-content p {
    margin-bottom: 2em;
}

.team-img {
    display: inline-block;
    width: 40%;
}

.team-img img {
    max-width: 100%;
    max-height: 300px;
    -webkit-clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
}

.test {
    width: 45%;
    float: right;
}

#toggle-text {
    text-align: center;
}

#toggle-text h3:hover {
    cursor: pointer;
}
/* Team stop */

/* Members start */
#team-members {
    text-align: center;
    padding-top: 0;
    display: none;
}

.single-team-member {
    width: 25%;
    display: inline-block;
    text-align: center;
}

.single-team-member-image {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.single-team-member-image img {
    max-height: 100%;
    border-radius: 100%;
    border: 5px solid rgba(255,255,204,0.9);
}
/* Members stop */

/* Menu start */
#menu {
    background-color: rgb(255,255,204);
}

.menu-content {
    display: inline-block;
    width: 40%;
}

.menu-img {
    display: inline-block;
    float: right;
    width: 50%;
}

.menu-button-container {
    margin-top: 4em;
    text-align: center;
}

.menu-img img {
    max-width: 100%;
    max-height: 300px;
    -webkit-clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);
}
/* Menu stop */

/* Contact start */
#contact {
}

.contact-form {
    display: inline-block;
    float: left;
    width: 49%;
}

.contact-map {
    display: inline-block;
    width: 49%;
}

input {
    width: 75%;
    height: 2.5em;
    margin-top: 1em;
    padding-left: 1em;
}

textarea {
    width: 75%;
    height: 11.5em;
    margin-top: 1em;
    padding: 0 1em;
}
/* Contact stop */

/* Footer start */
footer {
    padding: 1em 10vw 1em 10vw;
    background-color: #000;
    margin: 0;
}

footer p {
    margin: 0;
    color: white;
}
/* Footer stop */